@font-face {
  font-family: "Lemon Tuesday";
  font-display: swap;
  src: url("../fonts/lemon_tuesday-webfont.woff2") format("woff2"),
    url("../fonts/lemon_tuesday-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
