$primary-font: "Open Sans", "Arial", sans-serif;
$secondary-font: "Roboto Slab", "Times", serif;
$third-font: "Lemon Tuesday", fantasy;
$primary-font-color: #000000; //черный
$secondary-font-color: #4c4c4c; //серый
$third-font-color: #32505a; //синий
$bg-color: #1a2d34; // изумрудный
$primary-color: #4ec83d; // ядовито-зеленый
$secondary-color: #fd4f10; // оранж
$tablet-min-width: 765px;
$desktop-min-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
